/* Fonts */
@font-face {
    font-family: 'Orbon';
    src: url('fonts/ORBON.TTF') format('truetype');
}

/* General Styles */
.background-container {
    display: grid;
    grid-template-rows: auto 50px 1fr; /* Adjust row sizes as needed */
    place-items: center;
    background: #000 url('images/Header Background.png') top center/auto auto no-repeat;
    color: #fff;
    min-height: 100vh;
}

nav {
    /* Grid item for the navigation */
    grid-row: 2; /* Position navigation at the second row */

}

header {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Horizontally center items */
    align-items: center; /* Vertically center items */
    padding: 20px;
    margin: 0; /* Remove margin */
    font-family: 'Orbon', calibri;
    font-size: 50px;
}

nav a {
    font-size: 60px;
}

.logo-container {
    display: flex;
    justify-content: center; /* Horizontally center items */
    align-items: center; /* Vertically center items */
}

/* Mobile Properties */
@media (max-width: 768px) {
    .background-container {
        background-size: cover;
        background-position: center;
    }

    header {
        font-size: 30px; /* Adjust font size for mobile */
    }
    nav a {
        font-size: 30px;
    }
}

/* Shared Styles */
body {
    margin: 0;
    padding: 0;
}

.logo-container img {
    max-width: 60%; /* Set the maximum width to the container size */
    height: auto;
    display: block; /* Ensure the image is treated as a block element */
    margin: 0 auto; /* Center the image horizontally */
}

.nav-container {
    display: flex; /* Add flexbox */
    justify-content: center; /* Center items horizontally */
    margin: 0; /* Remove margin */
    margin-bottom: 20px; /* Add bottom margin */
    padding: 0; /* Remove padding */
}

nav {
    font-family: 'Orbon', calibri;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav a {
    text-decoration: none;
    color: #fff;
    text-decoration: underline; /* Add underlines for links */
    padding: 20px; /* Adjust padding */
}

nav a:hover {
    color: #ccc;
}

main {
    padding: 15px;
    max-width: 1200px;
    margin: 0 auto; /* Center the main section horizontally */
    font: 18px/1.5 'Calibri', sans-serif;
    text-align: left; /* Align text to the left */
    color: rgba(255, 255, 255, 0.9);
}

main p {
    letter-spacing: 0.5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: rgba(51, 51, 51, 0.9);
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

/* Carousel Styles */
.carousel-container {
    position: relative; /* Ensure relative positioning for absolute children */
    max-width: 1200px; /* Set maximum width for the carousel container */
    margin: 0 auto; /* Center the carousel horizontally */
    overflow: hidden; /* Hide overflow content */
}

.carousel {
    width: 200%; /* Double the width for two images side by side */
    transition: transform 0.5s ease; /* Add transition for smooth sliding */
    display: flex; /* Display images side by side */
    align-items: center;
}

.carousel-item {
    flex: 0 0 50%; /* Each item takes up 50% width */
}

.carousel-item img {
    width: 100%; /* Ensure images take up full width */
    height: auto;
    object-fit: cover;
    object-position: center;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 10px; /* Adjust top margin as needed */
}

.pagination-item {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.pagination-item.active {
    background-color: #fff;
}

/* Media query for desktop screens */
@media (min-width: 769px) {
    .carousel-container {
        max-width: 600px; /* Set the maximum width to 50% smaller */
    }

    .carousel-item {
        flex: 0 0 50%; /* Each item takes up 50% width */
    }
}

.carousel-arrow {
    position: absolute; /* Position relative to the carousel container */
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    font-size: 24px;
    z-index: 1;
}

.carousel-arrow.prev {
    left: 0; /* Position at the left edge of carousel */
}

.carousel-arrow.next {
    right: 0; /* Position at the right edge of carousel */
}

.contact-section {
    text-align: center;
    padding: 50px 0;
}

.contact-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.contact-section p a {
    color: #FFD700; /* Set the color to yellow */
    text-decoration: underline; /* Underline the email link */
}

.contact-section p a:hover {
    color: #ccc; /* Change color on hover for better visibility */
}

.social-media {
    margin-top: 20px;
}

.social-link {
    display: inline-block;
    margin: 0 10px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

.social-link:hover {
    color: #ccc;
}
