body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%; /* Adjust as needed */
    height: 100vh; /* Adjust as needed */
    background-image: url('images/Mock Site.png'); /* Path to your image */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
}
